<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYWHm7xPdbUUm4N20X7SFjnJZGCFjnPDw</string>
	<key>GCM_SENDER_ID</key>
	<string>124200917002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orbi.mobile</string>
	<key>PROJECT_ID</key>
	<string>orbi-financial-os-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>orbi-financial-os-app-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124200917002:ios:4b703429d08aec359ae7f3</string>
</dict>
</plist>