<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>com.apple.developer.associated-domains</key>
    <array>
        <string>applinks:orbi-financial-technologies-c0re-v2026.onrender.com</string>
        <string>webcredentials:orbi-financial-technologies-c0re-v2026.onrender.com</string>
    </array>
</dict>
</plist>
